/* HeaderMenu */
.Menu-list{
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: #d8e2dc;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.Menu-item{
    list-style: none;
    color: tomato;
    font-size: 25px;
    padding: 1rem;
    border-radius: 10px;
}

.Menu-item a{
    cursor: pointer;
    padding: 1rem;
}

.active{
    background-color:  tomato;
    color: white;
    border-radius: 10px;
    transition: all 0.7s ease-in-out;
}

/* HeaderMenu */

/* Stocks */

.stoks{
    background-color: #ffe5d9;
    height: 100vh;
}

.stocks-title{
    font-size: clamp(20px , 5vh + 1rem, 45px);
    color: tomato;
    text-align: center;
    padding-block: 2rem;
}

.flex-group{
    display: flex;
    flex-direction: column;
    align-items: center;;
    padding: 2rem;
}

.search-stock{
    padding: 1rem;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.autocompete{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-block-start: 20px;
    background-color: #d62828;
    color: white;
    font-size: 20px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.stoks-item{
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #f77f00;
    cursor: pointer;
}

.stoks-item:hover{
    background-color: #f77f00;
    color: white;
    transition: all 0.6s ease-in-out;
}

/* Stocks */

